body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #3e853a;
  color: white;
  text-align: center;
}

/* HEADER SECTION */
.hero {
  background: #3e853a;
  padding: 4px 0 2px 0;
}

/* MAIN TITLE */
.title {
  font-family: 'Caprasimo', serif;
  font-size: 20px; /* updated */
  letter-spacing: 2px;
  color: #f5f5dc;

  text-shadow:
    1px 1px 0 #2d5f2a,
    2px 2px 4px rgba(0, 0, 0, 0.2);

  margin: 0;
}

/* SUBTITLE */
.subtitle {
  font-family: 'Courier New', monospace;
  font-size: 10px;
  letter-spacing: 1px;
  color: #e8e4c9;
  margin-top: 2px;
}

/* MAP */
#map {
  height: 85vh;
  width: 100%;
}
